<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h3>Create Your Account</h3>
    <form method="post" action="/user/signup">
      <input name="name" placeholder="Enter Your name" />
      <input name="email" placeholder="Enter your Email" />
      <input name="password" placeholder="Enter your password" />
      <button type="submit">Sign UP</button>
    </form>
  </body>
</html>
